/* Poppins Regular */
@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../assets/poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}


/* Poppins Medium */
@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../assets/poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
}

